.App {
  text-align: center;
  background-color: blanchedalmond;
}
h3, h1 {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
img {
  height: 50px;
  width: 50px;
}